@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Views/Account/Maintenance.cshtml -->
<div class="alert alert-warning">
    <h1>System Maintenance</h1>
    <p>The system is currently undergoing maintenance. Please try again later.</p>
    <p>Estimated completion time: @DateTime.Now.AddHours(1).ToString("f")</p>
</div>