@page
@model AirQualityDashboard.Views.Shared._AQILegendModel
@{
    <div class="mt-3">
        <h5>AQI Legend</h5>
        <ul>
            <li><span style="color: green;">●</span> Good (0–50)</li>
            <li><span style="color: yellow;">●</span> Moderate (51–100)</li>
            <li><span style="color: orange;">●</span> Unhealthy for Sensitive Groups (101–150)</li>
            <li><span style="color: red;">●</span> Unhealthy (151+)</li>
        </ul>
    </div>

}
